/*------------------------------------------------------------------
 
Layout: Topbar

------------------------------------------------------------------- */
#topbar {
  position: relative;
  z-index: 101;
  padding: 8px;
  background: #16283a;
  border-bottom: 1px solid #000000;
}
@font-face {
  font-family:'Iconic';
  src: url('/resources/css/iconic-sm.eot');
  src: url('/resources/css/iconic-sm.eot?#iconic-sm') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
.fui-filter{
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-filter:before {
	content: "\e138";
}
.fui-chart{
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-chart:before {
	content: "\e138";
}
.fui-bar-chart{
	display: inline-block;
	font-family: 'FontAwesome';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-bar-chart:before {
	content: "\f080";
}
.fui-pier-chart{
	display: inline-block;
	font-family: 'Iconic';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-pie-chart:before {
	content: "\e1df";
}
.todo-analytics{
	position: relative;
	background: #1abc9c;
	background-size: 16px 16px;
	border-radius: 6px 6px 0 0;
	color: #34495e;
	padding: 19px 25px 20px;
}
.todo-analytics:before{
	position: absolute;
	font-family: 'Glyphicons Halflings';
	content: "\e018";
	font-size: 16px;
	line-height: 17px;
	display: inline-block;
	top: 50%;
	left: 92%;
	margin: -0.5em 0 0 -1em;
}

.todo-queries{
	position: relative;
	background: #1abc9c;
	background-size: 16px 16px;
	border-radius: 6px 6px 0 0;
	color: #34495e;
	padding: 19px 25px 20px;
}
.todo-queries:before{
	position: absolute;
	font-family: 'FontAwesome';
	content: "\f1c0";
	font-size: 16px;
	line-height: 17px;
	display: inline-block;
	top: 50%;
	left: 92%;
	margin: -0.5em 0 0 -1em;
}
.fui-run-query{
	display: inline-block;
	font-family: 'Flat-UI-Icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}
.fui-run-query:before {
	content: "\e03c";
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	color: #2C3E50;
}

.fui-gear:before {
	font-size: 18px;
}

/* .backgrid table{
	table-layout: auto;
} */
.backgrid td, .backgrid th,
.backgrid thead th, .backgrid th.sortable a{
	font-size: 11px;
	line-height: 20px;
	height: 30px;
	max-width: 100px;
	word-wrap: break-word;
	white-space: pre-wrap;
	vertical-align: middle;
}
/* .backgrid th.sortable a{
	font-size: 12px;
	line-height: 20px;
	height: 40px;
	max-width: 100px;
	word-wrap: break-word;
	white-space: pre-wrap;
} */

/*------------------------------------------------------------------
 
Date Picker

------------------------------------------------------------------- */

.ui-datepicker-header{
	border:1px solid #2C3E50;
	background:#34495E;
}

#ui-datepicker-div{
	background:#f5f5f5;
	font-family:"Lato", Helvetica, Arial, sans-serif;
	font-size:12px;
}

a.ui-state-default{
	border:1px solid #2C3E50 !important;
	background:#34495E !important;
	color:white !important;
}

a.ui-state-default.ui-state-highlight{
	border:1px solid #7F8C8D !important;
	background:#95A5A6 !important;
	color:white !important;
}
a.ui-state-default.ui-state-hover{
	border:1px solid #BDC3C7 !important;
	background:#ECF0F1 !important;
	color:#2C3E50 !important;
}
a.ui-state-hover.ui-corner-all{
	border:1px solid #BDC3C7 !important;
	background:#ECF0F1 !important;
}
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon{
	background-image: url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/ui-lightness/images/ui-icons_222222_256x240.png) !important;
}
.btn{
	font-size: 12px;
}
.panel-title{
	font-size: 13px;	
}
div#chartDiv{
	width: 100%; 
	height: 700px;
}

table{
	font-size: 11px;
}
tr.inContainer{
	border-left-style:solid;
	border-left-color:#dcdcdc;
	border-right-style:solid;
	border-right-color:#dcdcdc;
}
tr.isLast{
	border-left-style:solid;
	border-left-color:#dcdcdc;
	border-right-style:solid;
	border-right-color:#dcdcdc;
	border-bottom-style:solid;
	border-bottom-color:#dcdcdc;
}
